/*No olvidarse de importar las variables*/
* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box; }

body {
  background: linear-gradient(to top, #dad6d6, black); }

header {
  grid-area: head;
  background-color: rgba(215, 202, 157, 0.9); }
  header div {
    display: grid;
    align-items: center;
    justify-items: center;
    margin-left: 5px;
    grid-template-columns: 0.5fr 3.5fr 3.5fr 0.5fr;
    gap: 5px;
    border-bottom: 2px solid rgba(18, 14, 2, 0.9);
    position: sticky; }
    header div nav div a {
      height: 90%;
      width: 100%;
      border-style: solid; }

.header_titulo {
  margin-left: 10px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center; }

.header_menu ul {
  list-style-type: none; }

.header_menu ul li {
  display: inline-block;
  padding: 1rem;
  font-family: 'Poppins', sans-serif; }

.header_btn {
  display: inline-block;
  background-color: #828588;
  color: white;
  padding: 0.5rem 5rem 0.5rem 0.5rem;
  border-radius: 10px;
  text-align: left;
  margin-right: 1rem; }

.header_btn:hover {
  background-color: brown; }
