//Arrancando con SASS

/*No olvidarse de importar las variables*/

@import"Partials/variables";
@import"Partials/mapas";



//Código Principal
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to top,rgb(218, 214, 214),black);
}


header{
    grid-area: head;
    background-color: $color-header;
    div{
    display: grid;
    align-items: center;
    justify-items: center;
    margin-left: 5px;
    grid-template-columns: 0.5fr 3.5fr 3.5fr 0.5fr;
    gap: 5px;
    border-bottom:map-get($map:$standar, $key:border-standar);
    position: sticky;
        nav{
            div{
                a{
                    height: 90%;
                    width: 100%;
                    border-style: solid;
                }
                h1{
                    ecbz{
                        margin-left: 10px;
                        font-size: map-get($map:$standar, $key: font-standar);
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        text-align: center; }
                    }
                div{    
                    ul{
                        list-style-type: none;
                    }
                    li{
                        display: inline-block;
                        padding: 1rem;
                        font-family: 'Poppins', sans-serif;
                        &:hover{
                            background-color: map-get($map:$standar, $key:color-standar);
                        }
                    }
                }
            }
        }    
    }
}    

/* Main pag principal*/ 

.main_ppal{
    grid-area: main_ppal;
    main{
        display: flex;
        gap: 170px;
        justify-items: center;
        background-color:$color-principal;
        .link{
            a{
                margin-left: 20px;
            }
        }    
        .imagen-p{
            width: 200%;
        }
    }    
}
.section_ppal{
    grid-area: section_ppal;
    .tarjetas{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20rem;
        margin-top: 8rem;
        gap: 4rem;
        text-align: center;
        .tarjetas__caja{
            width: 344px;
            background-color: rgb(239, 165, 165);
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
            padding: 2rem 3rem;
            .tarjetas__btn{
                display: inline-block;
                background-color: rgba(208, 59, 109, 0.893);
                color: white;
                text-transform: uppercase;
                padding: 0.5rem 2rem;
                border-radius: 10px;
                margin: 1.5rem 0rem;
                &:hover{
                    transform: scale(1.05);
                    background-color: darkgrey;
                }    
            }
        }
    }
}

 /* Footer */

.foot{
   grid-area: foot;
   background-color: $color-footer;
   color: whitesmoke;
   text-align: center;
   h3{
    font-size: medium;
   text-align: center;
   }
   h4{
    font-size: medium;
   text-align: center;
   color: $color-header;
   }
}
